#' Say Hello
#'
#' Return a friendly greeting.
#'
#' @param name Character name to greet.
#' @return A character string.
#' @export
hello <- function(name = "world") {
  paste0("Hello, ", name, "!")
}
